{
    "data": {
        "elevation": 330,
        "external_url": "https://scialla.duckdns.org:8123",
        "internal_url": "http://192.168.1.122:8123",
        "latitude": 45.11016488561856,
        "location_name": "Casa",
        "longitude": 7.665452957153321,
        "time_zone": "Europe/Rome",
        "unit_system": "metric"
    },
    "key": "core.config",
    "version": 1
}
